<template>
  <h3>{{ $t("class.assassin") }}</h3>
  <div class="skill-tree-container">
    <skill
      :data="data.get('thief-double-attack')"
      style="grid-column: 1"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('thief-envenom')"
      style="grid-column: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('thief-shield-dodge')"
      style="grid-column: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('thief-trick-control')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('thief-trick-control')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <basic
      style="grid-column: 5; grid-row: 2"
      :id="`thief-detoxify`"
      :name="`skill.thief.detoxify-name`"
    />
    <skill
      :data="data.get('thief-increase-dodge')"
      style="grid-column: 1; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('thief-stealth')"
      style="grid-column: 4; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('thief-back-slide')"
      style="grid-column: 5; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-dual-weild-mastery')"
      style="grid-column: 1; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-katar-mastery')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-katar-mastery')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-hiding-research')"
      style="grid-column: 4; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-back-slide-hiding')"
      style="grid-column: 5; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-red-cut')"
      style="grid-column: 1; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-sonic-blow')"
      style="grid-column: 2; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-enchant-poison')"
      style="grid-column: 3; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-red-cut-precision')"
      style="grid-column: 1; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-sonic-acceleration')"
      style="grid-column: 2; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-venom-dust')"
      style="grid-column: 3; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-venom-splasher')"
      style="grid-column: 4; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('assassin-grimtooth')"
      style="grid-column: 5; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
  </div>

  <div class="skill mt-10" @click.prevent="onReset()">
    <p>RESET</p>
  </div>

  <div class="skill mt-10">
    <p>{{ totalAssignedPoints }} /{{ maximumAllocatedPoints }}</p>
  </div>
</template>
<style lang="css">
.skill {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<script lang="ts">
import * as firstJob from "../../assets/thief-skills.json";
import * as secondJob from "../../assets/assassin-skills.json";
import { helper } from "../helper";
import Skill from "./skill.vue";
import Basic from "./basic-skill.vue";

export default {
  components: {
    Skill,
    Basic,
  },
  setup() {
    const maximumAllocatedPoints = 80;

    const raw = firstJob.concat(
      secondJob.map((elem) => ({
        ...elem,
        prereqPoints: 40,
      })) as Array<any>
    );

    const {
      // instance,
      data,
      totalAssignedPoints,
      incrementSkill,
      decrementSkill,
      resetSkills,
    } = helper(raw);

    function onIncrement(id: string) {
      if (totalAssignedPoints.value >= maximumAllocatedPoints) {
        return;
      }
      incrementSkill(id);
    }

    return {
      data,
      totalAssignedPoints,
      maximumAllocatedPoints,
      onIncrement,
      onDecrement: decrementSkill,
      onReset: resetSkills,
    };
  },
};
</script>
