<template>
  <div class="skill-container">
    <div class="skill-points invisible">1 / 1</div>
    <div class="button-icon-container">
      <div class="skill-icon" @click="emit('click-icon', id)">
        <img :src="`/${id}.png`" />
      </div>
    </div>
    <div class="skill-name">
      {{ $t(name) }}
    </div>
  </div>
</template>

<style lang="css"></style>

<script lang="ts">
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    return {
      emit: context.emit,
    };
  },
};
</script>
