<template>
  <h3>{{ $t("class.blacksmith") }}</h3>
  <div class="skill-tree-container">
    <basic
      style="grid-column: 1"
      :id="`merchant-cart-use`"
      :name="`skill.merchant.cart-use-name`"
    />
    <skill
      :data="data.get('merchant-mammonite')"
      style="grid-column: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('merchant-enlarge-weight-limit')"
      style="grid-column: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <basic
      style="grid-column: 5"
      :id="`merchant-crazy-uproar`"
      :name="`skill.merchant.crazy-uproar-name`"
    />
    <skill
      :data="data.get('merchant-cart-revolution')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('merchant-full-force-swing')"
      style="grid-column: 2; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('merchant-discount')"
      style="grid-column: 5; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('merchant-cart-clash')"
      style="grid-column: 1; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('merchant-cart-modification')"
      style="grid-column: 2; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('merchant-overcharge')"
      style="grid-column: 5; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-hammer-fall')"
      style="grid-column: 1; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-hilt-binding')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-steel-tempering')"
      style="grid-column: 3; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-dagger-converter')"
      style="grid-column: 4; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-long-sword-converter')"
      style="grid-column: 5; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-adrenalin-rush')"
      style="grid-column: 1; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-weaponry-research')"
      style="grid-column: 2; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-oridecon-research')"
      style="grid-column: 3; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-spear-converter')"
      style="grid-column: 4; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-two-handed-converter')"
      style="grid-column: 5; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-power-thrust')"
      style="grid-column: 1; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-weapon-perfection')"
      style="grid-column: 2; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-skin-tempering')"
      style="grid-column: 3; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-blunt-converter')"
      style="grid-column: 4; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-axe-converter')"
      style="grid-column: 5; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-maximize-power')"
      style="grid-column: 1; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('blacksmith-katar-converter')"
      style="grid-column: 5; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
  </div>
</template>
<style scoped lang="css">
.skill-tree-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: #f1f8fc;
}
</style>

<script lang="ts">
import * as firstJob from "../../assets/merchant-skills.json";
import * as secondJob from "../../assets/blacksmith-skills.json";
import { helper } from "../helper";
import Skill from "./skill.vue";
import Basic from "./basic-skill.vue";

export default {
  components: {
    Skill,
    Basic,
  },
  setup() {
    const maximumAllocatedPoints = 80;

    const raw = firstJob.concat(
      secondJob.map((elem) => ({
        ...elem,
        prereqPoints: 40,
      })) as Array<any>
    );

    const {
      // instance,
      data,
      totalAssignedPoints,
      incrementSkill,
      decrementSkill,
      resetSkills,
    } = helper(raw);

    function onIncrement(id: string) {
      if (totalAssignedPoints.value >= maximumAllocatedPoints) {
        return;
      }
      incrementSkill(id);
    }

    return {
      data,
      totalAssignedPoints,
      maximumAllocatedPoints,
      onIncrement,
      onDecrement: decrementSkill,
      onReset: resetSkills,
    };
  },
};
</script>
