<template>
  <h3>{{ $t("class.hunter") }}</h3>
  <div class="skill-tree-container">
    <skill
      :data="data.get('archer-double-strafe')"
      style="grid-column: 1"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('archer-owls-eye')"
      style="grid-column: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('archer-vultures-eye')"
      style="grid-column: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <basic
      style="grid-column: 5"
      :id="`archer-charge-arrow`"
      :name="`skill.archer.charge-arrow-name`"
    />
    <skill
      :data="data.get('archer-arrow-shower')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('archer-attention-concentrate')"
      style="grid-column: 2; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-falcon-mastery')"
      style="grid-column: 1; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-beastbane')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-wind-dance')"
      style="grid-column: 3; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-freezing-trap')"
      style="grid-column: 4; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-blast-mine')"
      style="grid-column: 5; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-steel-crow')"
      style="grid-column: 1; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-blitz-beat')"
      style="grid-column: 2; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-claymore-trap')"
      style="grid-column: 4; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-flasher')"
      style="grid-column: 5; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-detecting')"
      style="grid-column: 1; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-falcon-assault')"
      style="grid-column: 2; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-skid-trap')"
      style="grid-column: 3; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-landmine')"
      style="grid-column: 4; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('hunter-sandman')"
      style="grid-column: 5; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-sharp-shooting')"
      style="grid-column: 1; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-sonic-blast')"
      style="grid-column: 2; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-true-sight')"
      style="grid-column: 3; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-wind-walker')"
      style="grid-column: 4; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-heal-guard-trap')"
      style="grid-column: 5; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-arrow-training')"
      style="grid-column: 1; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-burst-claw')"
      style="grid-column: 2; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-refined-double-strafe')"
      style="grid-column: 3; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-claymore-trap-research')"
      style="grid-column: 4; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-freezing-trap-research')"
      style="grid-column: 5; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-land-mine-research')"
      style="grid-column: 4; grid-row: 9"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('sniper-blast-mine-research')"
      style="grid-column: 5; grid-row: 9"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
  </div>
</template>
<style lang="css"></style>

<script lang="ts">
import * as firstJob from "../../assets/archer-skills.json";
import * as secondJob from "../../assets/hunter-skills.json";
import * as thirdJob from "../../assets/sniper-skills.json";
import { helper } from "../helper";
import Skill from "./skill.vue";
import Basic from "./basic-skill.vue";

export default {
  components: {
    Skill,
    Basic,
  },
  setup() {
    const maximumAllocatedPoints = 120;

    const raw = firstJob
      .concat(
        secondJob.map((elem) => ({
          ...elem,
          prereqPoints: 40,
        })) as Array<any>
      )
      .concat(
        thirdJob.map((elem) => ({
          ...elem,
          prereqPoints: 80,
        })) as Array<any>
      );

    const {
      // instance,
      data,
      totalAssignedPoints,
      incrementSkill,
      decrementSkill,
      resetSkills,
    } = helper(raw);

    function onIncrement(id: string) {
      if (totalAssignedPoints.value >= maximumAllocatedPoints) {
        return;
      }
      incrementSkill(id);
    }

    return {
      data,
      totalAssignedPoints,
      maximumAllocatedPoints,
      onIncrement,
      onDecrement: decrementSkill,
      onReset: resetSkills,
    };
  },
};
</script>
