<template>
  <h3>{{ $t("class.knight") }}</h3>
  <div class="skill-tree-container">
    <skill
      :data="data.get('swordsman-bash')"
      style="grid-column: 1"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('swordsman-sword-mastery')"
      style="grid-column: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('swordsman-increase-recuperative-power')"
      style="grid-column: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('swordsman-magnum-break')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('swordsman-fatal-blow')"
      style="grid-column: 2; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('swordsman-provoke')"
      style="grid-column: 3; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('swordsman-endure')"
      style="grid-column: 3; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <basic
      style="grid-column: 5; grid-row: 3"
      :id="`swordsman-berserk`"
      :name="`skill.swordsman.berserk-name`"
    />
    <skill
      :data="data.get('knight-riding')"
      style="grid-column: 1; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-spear-mastery')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-spear-boomerang')"
      style="grid-column: 3; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-sword-quicken')"
      style="grid-column: 4; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-sturdy-strike')"
      style="grid-column: 5; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-cavalier-mastery')"
      style="grid-column: 1; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-pierce-combo')"
      style="grid-column: 2; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-spear-stab')"
      style="grid-column: 3; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-bowling-bash')"
      style="grid-column: 4; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-lion-howling')"
      style="grid-column: 5; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-brandish-spear')"
      style="grid-column: 1; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-charge-attack')"
      style="grid-column: 3; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-vanguard-force')"
      style="grid-column: 4; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('knight-iron-will')"
      style="grid-column: 5; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
  </div>
</template>
<style scoped lang="css"></style>

<script lang="ts">
import * as firstJob from "../../assets/swordsman-skills.json";
import * as secondJob from "../../assets/knight-skills.json";
import { helper } from "../helper";
import Skill from "./skill.vue";
import Basic from "./basic-skill.vue";

export default {
  components: {
    Skill,
    Basic,
  },
  setup() {
    const maximumAllocatedPoints = 80;

    const raw = firstJob.concat(
      secondJob.map((elem) => ({
        ...elem,
        prereqPoints: 40,
      })) as Array<any>
    );

    const {
      // instance,
      data,
      totalAssignedPoints,
      incrementSkill,
      decrementSkill,
      resetSkills,
    } = helper(raw);

    function onIncrement(id: string) {
      if (totalAssignedPoints.value >= maximumAllocatedPoints) {
        return;
      }
      incrementSkill(id);
    }

    return {
      data,
      totalAssignedPoints,
      maximumAllocatedPoints,
      onIncrement,
      onDecrement: decrementSkill,
      onReset: resetSkills,
    };
  },
};
</script>
