<template>
  <h3>{{ $t("class.priest") }}</h3>
  <div class="skill-tree-container">
    <skill
      :data="data.get('acolyte-holy-light')"
      style="grid-column: 1"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-demon-bane')"
      style="grid-column: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-heal')"
      style="grid-column: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-teleport')"
      style="grid-column: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-blessing')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-signum-crucis')"
      style="grid-column: 2; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-angelus')"
      style="grid-column: 3; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-increase-agility')"
      style="grid-column: 1; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('acolyte-kyrie-eleison')"
      style="grid-column: 3; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <basic
      style="grid-column: 5; grid-row: 3"
      :id="`acolyte-ruwach`"
      :name="`skill.acolyte.ruwach-name`"
    />
    <skill
      :data="data.get('priest-magnificat')"
      style="grid-column: 1; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-resurrection')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-sanctuary')"
      style="grid-column: 3; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-mace-mastery')"
      style="grid-column: 4; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-recovery')"
      style="grid-column: 5; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-impositio-manus')"
      style="grid-column: 1; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-turn-undead')"
      style="grid-column: 2; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-pneuma')"
      style="grid-column: 3; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-holy-judgement')"
      style="grid-column: 4; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-aspersio')"
      style="grid-column: 5; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-zen-heart')"
      style="grid-column: 1; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-magnus-exorcimus')"
      style="grid-column: 2; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-safety-wall')"
      style="grid-column: 3; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('priest-gloria')"
      style="grid-column: 5; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-meditation')"
      style="grid-column: 1; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-assumptio')"
      style="grid-column: 2; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-lex-divina')"
      style="grid-column: 3; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-judex')"
      style="grid-column: 4; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-advanced-mace')"
      style="grid-column: 5; grid-row: 7"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-spiritual-thoughts')"
      style="grid-column: 1; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-suffragium')"
      style="grid-column: 2; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-lex-aeterna')"
      style="grid-column: 3; grid-row: 8"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-basillica')"
      style="grid-column: 2; grid-row: 9"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('high-priest-holy-word')"
      style="grid-column: 5; grid-row: 9"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
  </div>
</template>
<style scoped lang="css">
.skill {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<script lang="ts">
import * as firstJob from "../../assets/acolyte-skills.json";
import * as secondJob from "../../assets/priest-skills.json";
import * as thirdJob from "../../assets/high-priest-skills.json";
import { helper } from "../helper";
import Skill from "./skill.vue";
import Basic from "./basic-skill.vue";

export default {
  components: {
    Skill,
    Basic,
  },
  setup() {
    const maximumAllocatedPoints = 120;

    const raw = firstJob
      .concat(
        secondJob.map((elem) => ({
          ...elem,
          prereqPoints: 40,
        })) as Array<any>
      )
      .concat(
        thirdJob.map((elem) => ({
          ...elem,
          prereqPoints: 80,
        })) as Array<any>
      );

    const {
      // instance,
      data,
      totalAssignedPoints,
      incrementSkill,
      decrementSkill,
      resetSkills,
    } = helper(raw);

    function onIncrement(id: string) {
      if (totalAssignedPoints.value >= maximumAllocatedPoints) {
        return;
      }
      incrementSkill(id);
    }

    return {
      data,
      totalAssignedPoints,
      maximumAllocatedPoints,
      onIncrement,
      onDecrement: decrementSkill,
      onReset: resetSkills,
    };
  },
};
</script>
