<template>
  <div class="skill-container">
    <div class="skill-points shadow">
      {{ data.curPoint }} / {{ data.maxPoint }}
    </div>
    <div class="button-icon-container">
      <div
        class="decrement-point button shadow"
        :class="{
          invisible: data.curPoint === 0,
          disabled: data.canDecrement === false,
        }"
        @click="emit('click-decrement', data.id)"
      />
      <div
        class="skill-icon shadow"
        :class="{
          disabled: data.canIncrement === false,
          passive: data.isPassive === true,
        }"
        @click="emit('click-icon', data.id)"
      >
        <img :src="`/${data.id}.png`" class="shadow" />
      </div>
      <div
        class="increment-point button shadow"
        :class="{
          hide: data.curPoint === data.maxPoint,
          disabled: data.canIncrement === false,
        }"
        @click="emit('click-increment', data.id)"
      />
    </div>
    <div class="skill-name shadow">
      {{ $t(data.name) }}
    </div>
  </div>
</template>
<style lang="css">
.skill-container {
  /* background-color: #f1f8fc; */
  /* border: 1px solid black; */
}

.skill-points {
  background-color: #6c84b5;
  color: #ffffff;
  min-width: 50px;
  width: fit-content;
  padding: 0.2em;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.button-icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.button {
  background-color: #5981d3;
  color: #ffffff;
  border-radius: 4px;
  min-width: 20px;
  max-height: 20px;
  padding: 0.2em;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.button.disabled {
  pointer-events: none;
  background-color: #edf1f2;
}

.decrement-point::before {
  content: "-";
}

.increment-point::before {
  content: "+";
}

.skill-icon {
  margin: 0 auto;
  grid-column: 2;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.skill-icon.passive {
  border-radius: 25%;
  border: 3px solid #dbdfe8;
}

.skill-icon img {
  height: 100%;
  display: block;
  margin: auto;
  max-width: 100%;
  transform: scale(1);
}

.skill-icon.disabled img {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.skill-name {
  background-color: #8bb1e7;
  color: #ffffff;
  min-width: 100px;
  max-width: 100px;
  padding: 0.2em;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

<script lang="ts">
import type { PropType } from "vue";

interface DataProp {
  id: string;
  name: string;
  curPoint: number;
  maxPoint: number;
  canDecrement: boolean;
  canIncrement: boolean;
  isPassive: boolean;
}

export default {
  props: {
    data: {
      type: Object as PropType<DataProp>,
      required: true,
    },
  },
  setup(props, context) {
    return {
      emit: context.emit,
    };
  },
};
</script>
