<template>
  <h3>{{ $t("class.wizard") }}</h3>
  <div class="skill-tree-container">
    <basic
      style="grid-column: 5; grid-row: 1"
      :id="`mage-energy-coat`"
      :name="`skill.mage.energy-coat-name`"
    />
    <skill
      :data="data.get('mage-fire-bolt')"
      style="grid-column: 1; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-soul-strike')"
      style="grid-column: 2; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-cold-bolt')"
      style="grid-column: 3; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-lightning-bolt')"
      style="grid-column: 4; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-zen-heart')"
      style="grid-column: 5; grid-row: 2"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-fire-ball')"
      style="grid-column: 1; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-fire-wall')"
      style="grid-column: 2; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-frost-diver')"
      style="grid-column: 3; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-thunderstorm')"
      style="grid-column: 4; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('mage-stone-curse')"
      style="grid-column: 5; grid-row: 3"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-sight')"
      style="grid-column: 1; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-fire-pillar')"
      style="grid-column: 2; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-water-ball')"
      style="grid-column: 3; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-jupitel-thunder')"
      style="grid-column: 4; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-earth-spike')"
      style="grid-column: 5; grid-row: 4"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-sightrasher')"
      style="grid-column: 1; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-meteor-storm')"
      style="grid-column: 2; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-storm-gust')"
      style="grid-column: 3; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-lord-of-vermillion')"
      style="grid-column: 4; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-heavens-drive')"
      style="grid-column: 5; grid-row: 5"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-safety-wall')"
      style="grid-column: 1; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
    <skill
      :data="data.get('wizard-quagmire')"
      style="grid-column: 5; grid-row: 6"
      @click-decrement="onDecrement"
      @click-increment="onIncrement"
    />
  </div>
</template>
<style lang="css"></style>

<script lang="ts">
import * as firstJob from "../../assets/mage-skills.json";
import * as secondJob from "../../assets/wizard-skills.json";
import { helper } from "../helper";
import Skill from "./skill.vue";
import Basic from "./basic-skill.vue";

export default {
  components: {
    Skill,
    Basic,
  },
  setup() {
    const maximumAllocatedPoints = 80;

    const raw = firstJob.concat(
      secondJob.map((elem) => ({
        ...elem,
        prereqPoints: 40,
      })) as Array<any>
    );

    const {
      // instance,
      data,
      totalAssignedPoints,
      incrementSkill,
      decrementSkill,
      resetSkills,
    } = helper(raw);

    function onIncrement(id: string) {
      if (totalAssignedPoints.value >= maximumAllocatedPoints) {
        return;
      }
      incrementSkill(id);
    }

    return {
      data,
      totalAssignedPoints,
      maximumAllocatedPoints,
      onIncrement,
      onDecrement: decrementSkill,
      onReset: resetSkills,
    };
  },
};
</script>
