<template>
  <div>
    <select v-model="selectedLocale">
      <option>en-US</option>
      <option>ja-JP</option>
      <!-- <option>ko-KR</option> -->
    </select>
    <select v-model="selectedClass">
      <option value="assassin">{{ $t("class.assassin") }}</option>
      <option value="blacksmith">{{ $t("class.blacksmith") }}</option>
      <option value="hunter">{{ $t("class.hunter") }}</option>
      <option value="knight">{{ $t("class.knight") }}</option>
      <option value="priest">{{ $t("class.priest") }}</option>
      <option value="wizard">{{ $t("class.wizard") }}</option>
    </select>
    <assassin v-if="selectedClass === 'assassin'" />
    <blacksmith v-if="selectedClass === 'blacksmith'" />
    <hunter v-if="selectedClass === 'hunter'" />
    <knight v-if="selectedClass === 'knight'" />
    <priest v-if="selectedClass === 'priest'" />
    <wizard v-if="selectedClass === 'wizard'" />
  </div>
</template>

<script lang="ts">
import { ref, watch } from "vue";
import i18n from "./i18n";
import assassin from "./components/assassin.vue";
import blacksmith from "./components/blacksmith.vue";
import hunter from "./components/hunter.vue";
import knight from "./components/knight.vue";
import priest from "./components/priest.vue";
import wizard from "./components/wizard.vue";

export default {
  components: {
    assassin,
    blacksmith,
    priest,
    knight,
    hunter,
    wizard,
  },
  setup() {
    const selectedLocale = ref("en-US");
    const selectedClass = ref("hunter");

    const pathArray = parseLocationPathname(window.location.pathname);
    selectedLocale.value = getLocale(pathArray[0]);
    selectedClass.value = getClass(pathArray[1]);

    window.onpopstate = function (event) {
      const pathArray = parseLocationPathname(document.location.pathname);
      selectedLocale.value = getLocale(pathArray[0]);
      selectedClass.value = getClass(pathArray[1]);
    };

    watch(
      [selectedLocale, selectedClass],
      (value) => {
        i18n.global.locale = value[0] as typeof i18n.global.locale;
        window.history.replaceState({}, "", `/${value[0]}/${value[1]}`);
      },
      {
        immediate: true,
      }
    );

    return {
      selectedLocale,
      selectedClass,
    };
  },
};

function parseLocationPathname(pathname: string): string[] {
  return pathname
    .split("/")
    .filter((elem) => elem.length !== 0)
    .map((elem) => elem.toLowerCase());
}

function getLocale(locale: string): string {
  switch (locale) {
    case "ja-jp":
      return "ja-JP";
    default:
      return "en-US";
  }
}

function getClass(classText: string): string {
  switch (classText) {
    case "blacksmith":
    case "merchant":
      return "blacksmith";
    case "archer":
    case "hunter":
    case "sniper":
      return "hunter";
    case "swordsman":
    case "knight":
      return "knight";
    case "acolyte":
    case "priest":
      return "priest";
    case "magician":
    case "wizard":
      return "wizard";
    default:
      return "assassin";
  }
}
</script>
