body {
  font-family: sans-serif;
}

footer {
  bottom: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.invisible {
  visibility: hidden;
}

.skill-tree-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: #f1f8fc;
}

.shadow {
  box-shadow: 0px 0px 3px #bdc1cd;
}
